@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 62.5%;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}



.navigation {
    background-color: rgb(255, 239, 255);
    padding: 15px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 999;
}

.header-div {
    display: flex;
    
}

.header-div i {
    margin-right: 5px;
    font-size: 2rem;
    color: blueviolet;
}

.header-div h1 {
    margin-right: 60rem;
    font-size: 1.4rem;
    font-weight: 800;
    color: rgb(161, 60, 255);
}

.navigation a {
    margin-right: 80px;
    margin-left: 40px;
    font-size: 1.4rem;
    text-decoration: none;
    color: rgb(132, 0, 255);
}

.navigation a:hover {
      color: rgb(76, 0, 255);
}

.container {
    padding-top:8rem;
    padding-left: 6rem;
}

.main-titles {
    margin-left: 4rem;
    margin-bottom: 4rem;
}

.title {
    font-size: 4rem;
    color: blueviolet;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 1.8rem;
}

.subtitle-infos {
    font-size: 1.2rem;
}

.pricing {

    display: flex;
    margin-top: 2rem;
}

.buy-button {
    margin-right: 2rem;
    background-color: rgb(171, 84, 253);
    padding: 1.8rem;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: rgb(255, 255, 255);
    transition: 0.7s ease;

}

.buy-button:hover {
    background-color: rgb(138, 35, 255);
    transform: scale(1.1);

}

.price {
    font-size: 1.5rem;
    margin-top: 18px;
}

.card {
    width: 350px;
    font-size: 1.5rem;
}
.content {
    background-color: blueviolet;
    padding: 2.6rem;
    border-radius: 20px;
    box-shadow: 2px 2px 15px 10px antiquewhite;

}

.card-title {
    margin-bottom: 4px;
    color: rgb(255, 255, 255);
    font-weight: 650;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.card-infos {
    margin-bottom: 4px;
    font-weight: 600;
}


