@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 62.5%;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}



.navigation {
    background-color: rgb(250, 238, 255);
    padding: 1.5rem;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 999;
}

.header-div {
    display: flex;
    
}

.header-div i {
    margin-right: 5px;
    font-size: 2rem;
    color: blueviolet;
}

.header-div h1 {
    margin-right: 60rem;
    font-size: 1.4rem;
    font-weight: 800;
    color: rgb(161, 60, 255);
}

.navigation a {
    margin-right: 8rem;
    margin-left: 4rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: rgb(132, 0, 255);
}

.navigation a:hover {
      color: rgb(76, 0, 255);
}

.main {
    background-color: #bbdfff;
    padding-bottom: 6rem;
    
}


.container {
    padding-top:8rem;
    padding-left: 6rem;
    
}

.main-titles {
    margin-left: 4rem;
    margin-bottom: 4rem;
}

.title {
    font-size: 4.2rem;
    color: blueviolet;
    margin-bottom: 3rem;
}

.subtitle {
    font-size: 1.8rem;
}

.subtitle-infos {
    font-size: 1.2rem;
}

.pricing {
    display: flex;
    margin-top: 2rem;
}

.buy-button {
    margin-right: 2rem;
    background-color: rgb(171, 84, 253);
    padding: 1.8rem;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: rgb(255, 255, 255);
    transition: 0.7s ease;

}

.buy-button:hover {
    background-color: rgb(138, 35, 255);
    transform: scale(1.1);

}

.price {
    font-size: 1.5rem;
    margin-top: 18px;
}

.card {
    padding-top: 2rem;
    width: 350px;
    font-size: 1.5rem;
}
.content {
    background:rgb(175, 55, 255) ;
    padding: 2.6rem;
    border-radius: 30px;
    box-shadow: 2px 2px 15px 10px rgb(244, 215, 250);
    transition: 0.7s ease;
}

.content:hover {
    transform: scale(1.1);
}


.icons {
    color: rgb(255, 255, 255);
    font-size: 6rem;
    margin-bottom: 0.5rem;
    text-align: center;


}

.card-title {
    margin-bottom: 4px;
    color: rgb(255, 255, 255);
    font-weight: 650;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.card-infos {
    margin-bottom: 4px;
    font-weight: 600;
}

.console-image {
    position: absolute;
    width: 45rem;
    top: 5rem;
    right: 4rem;
    z-index: 100;
    transition: 0.7s ease;

}


.console-image:hover {
    transform: scale(1.1);
}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(rgb(255, 255, 255),rgb(175, 55, 255));
    border-radius: 4rem 0 0 4rem;
    height: 65%;
    width: 50%;

}

.vr-items {
    background-color: rgb(55, 101, 255);

}

.vr-container {
    padding: 8rem;
    
}

.vr-titles {
    padding-bottom: 2rem;
}


.vr-title {
    font-size: 3.6rem;
    text-align: center;
    color: white;
    margin-top: -3rem;
    margin-bottom: 4rem;
    
}

.vr-subtitle {
    font-size: 2.8rem;
    margin-top: 2rem;
}

.vr-paragraph {
    font-size: 1.5rem;
}

.vr-pricing {
    display: flex;
}

.vr-img {
    width: 35%;
    position: absolute;
    right: 4rem;
    bottom: -80%;
    transition: 0.7s ease;
}

.vr-img:hover {
    transform: scale(1.1);
}



.vr-infos-card {
    margin-top: 14rem;
    display: flex;
    justify-content:space-around;

}




.card-content {
    background-color: rgb(0, 68, 255);
    border-radius: 20px;
    margin-right: 4rem;
    padding: 2rem;
    
    transition: 0.7s ease;

}

.card-content:hover {
    transform: scale(1.1);

}

.vr-card-title {
    color: white;
    margin-bottom: 1.4rem;
    margin-top: 1rem;
    letter-spacing: 1px;
    font-size: 2.3rem;
}

.vr-p {
    width: 70%;
    text-align: start;
    font-size: 1.4rem;
    font-weight: 500;

    
}

.games-section {
    background-color:rgb(160, 44, 255);
    padding-left: 6rem;
    
}

.games-titles {
    font-size: 1.4rem;
    margin-bottom: 4rem;
}


.games-title {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 3.6rem;
    font-size: 3.5rem;

}

.games-subtitle {
    color: rgb(0, 0, 0);
    margin-top: 4rem;
    font-size: 3rem;

}

.games-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}

.games-card-content {
    margin-top:5rem;
    transition: 0.7s ease;
    margin-bottom: 10rem;
}

.games-card-content:hover {
    transform: scale(1.2);

}

.game-img {
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;

}

.game-img:hover {
    opacity: 0.9;
}

.games-card-titles {
    color: rgb(0, 0, 0);
    margin-top:2rem ;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
}


.game-name {
    font-weight: 600;
    letter-spacing: 1px;
}
.game-price {
    margin-top: 0.2rem;
}


.footer {
    display: flex;
    background-color: black;
    padding: 0.8rem;
}

.footer h3 {
    color: white;
    font-weight: 600;
    margin-left: 1rem;
    margin-right: 75%;
    letter-spacing: 1px;

}

.footer span {
    color: rgb(32, 16, 255);
    font-size: 1.2rem;
    
}

.footer a {
    margin-right: 30px;
    font-size: 1.2rem;
}

@media (max-width:500px){
    .navigation {
        padding: 1rem;
        
    }

    .header-div {
        width: 5%;
        
    }

    navigation i {
        width: 0;
    }


    .header-div h1 {
        font-size: 1rem;
        
    }

    .navigation a {
        font-size: 1rem;
        margin-right: 8rem;
    }

    .tags {
        margin-left: 4rem;
        margin-top: 0.8rem;
    }

    section {
        width: 150%;
    }

    .container {
        padding-left: 1rem;
    }

    
    .title {
        font-size: 3.2rem;
        margin-bottom: 2rem;

    }

    .subtitle {
        font-size: 1.6rem;
    }

    .buy-button {
        padding: 1.2rem;
    }

    .console-image {
        width: 0;
        
    }

    .color-box {
        height: 0;
    }

    .card {
        padding-left: 4rem;
    }

    

    .vr-titles {
        padding-bottom: 2rem;
    }

    .vr-title {
        font-size: 3rem;
    }

    .vr-subtitle {
        font-size: 2rem;
    }

    .vr-paragraph {
        font-size: 1.2rem;
        
    }

    .vr-img {
        width: 0;
    }

    .vr-infos-card {
        margin-top: 7rem;
        display: flex;
        flex-wrap: wrap;
        
    }

    .card-content {
        margin-bottom: 4rem;
    }

    .games-titles {
        padding-left: 1rem;
        margin-bottom: 3rem;
    }

    .games-title {
        font-size: 3.2rem;
    }
    
    .games-subtitle {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }

    .games-paragraph {
        width: 90%;
    }

    

    .games-card {
        margin-top: 4rem;
    }

    .games-card-content {
        margin-bottom: 2rem;
        

    }

    footer {
        width: 150%;
    }
    
    

}










